.Dashboard {
	border:1px solid #aaa !important;
	background: #fff;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

.Dashboard b {
	font-size:12px;
}

.Dashboard .floatright {
	float:right;
	margin-right:3px;
}

.Dashboard li.dotted {
	border-bottom: 1px dotted #ccc;
}

.Dashboard .addition {
	color: #aaa;
	font-size: 8pt;
}

.Dashboard a.edit {
	width: 16px;
	height: 16px;
	float: right;
	background: url(../images/16/edit.png) no-repeat 50% 50%;
}

.Dashboard a.edit span {
	display: none;
}

.Dashboard h2 a,
.Dashboard h3 a {
	font-size: 8pt;
	padding: 0 5px; 
}

.Dashboard h1 {
	padding-left: 45px;
	margin: 0.5em 0 1em 0;
	background: url(../images/32/dashboard.png) no-repeat 0 50%;
}

.Dashboard h2 {
	color: #333 !important;
	background: #f2f2f2;
	font-size: 130% !important;
	margin-bottom: 5px;
	line-height: 2.5em !important;
	padding-left: 30px !important;
	background-position: 4px 50% !important;
	background-repeat: no-repeat !important;
	height: auto !important;
}

.Dashboard h3 {
	color: #333;
	font-size: 8pt;
	margin-bottom: 0.5em;
}

.Dashboard p {
	color: #333;
	font-size: 8pt;
}

.Dashboard li {
	padding-bottom: 0.5em;
	padding: 1%;
}

.Dashboard li:hover {
	background-color: #f2f2f2;
}

.Dashboard .SiteInfo p {
	padding-left: 1%;
}

.Dashboard .Updates {
	padding: 10px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	font-size: 130%;
} 

.Dashboard .Items {
	clear: both;
}

.Dashboard .dashboardItem {
	padding:3px;
	border:1px solid #ccc;
	margin-bottom:3px;
	overflow:auto;
}

.Dashboard .Activity h2 {
	background-image: url("../images/22/refresh.png") !important;
}

.Dashboard .Comments h2 {
	background-image: url("../images/22/chat.png") !important;
}

.Dashboard .SiteInfo h2 {
	background-image: url("../images/22/blackbox.png") !important;
}

.Dashboard .SSNews h2 {
	background-image: url("../images/22/feed.png") !important;
}

.Dashboard .Comments ul {
	padding-top: 0.5%;
}

.Dashboard .Comments li {
	padding-bottom: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
	line-height: 1.75em;
	width: 46.5%;
	float: left;
}

.Dashboard .snippet {
	float:left;
	width:47.4%;
	padding: 1%;
	min-height: 140px;
	border:1px solid #f2f2f2;
}

.Dashboard .snLeft {
	margin-right: 0.5%;
}

.Dashboard img.loader {
	display: block;
	margin:auto;
}

.Dashboard .SSNews li {
	margin-bottom: 1em;
}

/* Greybox popup plugin */
#GB_overlay {
  background-color: #000;
  opacity:0.75;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
}

#GB_window {
  top: 10%;
  left: 0px;
  position: absolute;
  background: #fff;
  border: 5px solid #aaa;
  overflow: auto;
  width: 400px;
  height: 400px;
  z-index: 150;
}

#GB_frame {
  border: 0;
  overflow: auto;
  width: 100%;
  height: 378px;
}

#GB_caption {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  background: #CCDEF3;
  padding: 8px 0 8px 5px;
  margin: 0;
  text-align: left;
}

#GB_window div.close {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	position: absolute;
	top: 8px;
	right: 5px;
	cursor: pointer;
}
