/* Generic dashboard styles */
.Dashboard {
	border:1px solid #aaa !important;
	background: #fff;
	margin: 10px;
	padding: 10px;
	overflow: auto;
}

.Dashboard h1 {
	padding-left: 45px;
	margin: 0.5em 0 1em 0;
	background: url(../images/32/dashboard.png) no-repeat 0 50%;
}

.Dashboard h2 {
	color: #333 !important;
	background: #f2f2f2;
	font-size: 125% !important;
	margin-bottom: 5px;
	line-height: 2.5em !important;
	background-position: 4px 50% !important;
	background-repeat: no-repeat !important;
	padding-left: 5px;
	height: auto !important;
}

.Dashboard h3 {
	color: #333;
	font-size: 8pt;
	margin-bottom: 0.5em;
}

.Dashboard p {
	color: #333;
	font-size: 8pt;
}

.Dashboard li {
	padding-bottom: 0.5em;
	padding: 1%;
}

.Dashboard li:hover {
	background-color: #f2f2f2;
}

.Dashboard b {
	font-size:12px;
}

.Dashboard h2 a,
.Dashboard h3 a {
	padding: 0 5px; 
}

.Dashboard h2 span {
	cursor: pointer;
	color: #0074C6;
	font-size: 110%;
}

.Dashboard a.edit,
.Dashboard a.delete {
	width: 16px;
	height: 16px;
	margin-left: 10px;
	float: right;
}

.Dashboard a.delete {
	background: url(../images/16/delete.png) no-repeat 50% 50%;	
}

.Dashboard a.edit {
	background: url(../images/16/edit.png) no-repeat 50% 50%;	
}

.Dashboard a.edit span,
.Dashboard a.delete span {
	display: none;
}

.Dashboard .floatright {
	float:right;
	margin-right:5px;
}

.Dashboard li.dotted {
	border-bottom: 1px dotted #ccc;
}

.Dashboard .addition {
	color: #aaa;
	font-size: 8pt;
}

.Dashboard .clear {
	clear: both !important;
	float: left !important;
	height: 1px !important;
	min-height: 1px !important;
	width: 100% !important;
	padding: 0 !important;
	overflow: hidden;
}


/* Styles for individual dashboard items */
.Dashboard a.revealLink {
	text-decoration: none;
	padding: 0 5px;
}

.Dashboard a.revealLink span {
	display: none;
	font-size: 80%;
}

.Dashboard a.revealLink:hover span {
	display: inline;
}

.Dashboard .DashboardItem {
	padding:3px;
	border:1px solid #ccc;
	margin-bottom:3px;
	overflow:auto;
}

#left .Dashboard .DashboardItem p {
	padding-left: 1%;
}


/* Styling for alerts that appear in the top right */
.Dashboard .Alerts {
	padding: 0 10px;
	background: #f2f2f2;
	border: 1px solid #ccc;
}
.Dashboard .Alerts .Alert {
	padding: 10px 0;
	font-size: 10pt;
}

.Dashboard .Alerts .Alert * {
	font-size: 10pt;	
}

/* Styling for snippets that appear in the middle of the right bar */
.Dashboard .Snippets .Snippet {
	float: right;
	width: 48.5%;
	padding: 0.5%;
	border: 1px solid #ccc;
}

.Dashboard .Snippets .Snippet .Plugin {
	padding-bottom: 0.5em;
}


.Dashboard .Snippets .snLeft {
	float: left;
}

/* Styling for full width items */

.Dashboard .FullWidth ul {
	padding-top: 0.5%;
}

.Dashboard .FullWidth li {
	padding-bottom: 1%;
	margin-bottom: 1%;
	line-height: 1.75em;
	width: 48%;
	float: left;
	min-height: 90px;
}

.Dashboard .SSNews li {
	margin-bottom: 1em;
}

/* Greybox popup plugin */
#GB_overlay {
  background-color: #000;
  opacity:0.75;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
}

#GB_window {
  top: 10%;
  left: 0px;
  position: absolute;
  background: #fff;
  border:3px solid #CCDEF3;
  overflow: auto;
  width: 400px;
  height: 400px;
  z-index: 150;
}

#GB_frame {
  border: 0;
  overflow: auto;
  width: 100%;
  height: 378px;
}

#GB_caption {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	background: #CCDEF3 url(../../cms/images/mainmenu/current.gif) repeat-x scroll 0 0;
	padding: 8px 0 8px 5px;
	margin: 0;
	text-align: left;
}

#GB_window div.close {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	position: absolute;
	top: 8px;
	right: 5px;
	cursor: pointer;
}
